- extra short term goals
.idea/
2307.tmp
AberraEtAl2018/AberraEtAl2018/1045.tmp
AberraEtAl2018/AberraEtAl2018/README.fld/
AberraEtAl2018/AberraEtAl2018/README.html
AberraEtAl2018/AberraEtAl2018/anatscale.hoc
AberraEtAl2018/AberraEtAl2018/calcVe.hoc
AberraEtAl2018/AberraEtAl2018/cellChooser.hoc
AberraEtAl2018/AberraEtAl2018/cells/
AberraEtAl2018/AberraEtAl2018/editMorphology.hoc
AberraEtAl2018/AberraEtAl2018/hoc_recordings/
AberraEtAl2018/AberraEtAl2018/i686cygwin/
AberraEtAl2018/AberraEtAl2018/init.hoc
AberraEtAl2018/AberraEtAl2018/interpCoordinates.hoc
AberraEtAl2018/AberraEtAl2018/interpCoordinates.py
AberraEtAl2018/AberraEtAl2018/mechanisms-aberra/
AberraEtAl2018/AberraEtAl2018/mod_func.c
AberraEtAl2018/AberraEtAl2018/mosinit.command
AberraEtAl2018/AberraEtAl2018/mosinit.ps1
AberraEtAl2018/AberraEtAl2018/myelinBiophysics.hoc
AberraEtAl2018/AberraEtAl2018/nrnmech.dll
AberraEtAl2018/AberraEtAl2018/rig.ses
AberraEtAl2018/AberraEtAl2018/setParams.hoc
AberraEtAl2018/AberraEtAl2018/setPointers.hoc
AberraEtAl2018/AberraEtAl2018/stimWaveform.hoc
AberraEtAl2018/AberraEtAl2018/testwrapper.py
C200897C-P2.CNG.swc
C270999B-P3.CNG.swc
Efield2es.p
EfieldTest-numerical.py
EfieldTest.py
EfieldTest.pyc
L5bPCmodelsEH/
Makefile
MathObjects.py
MathObjects.pyc
New folder/
README.html
__pycache__/
aberraAxon.py
aberra_Actioncommands
anatscale.hoc
basic_animation.mp4
calcVe.hoc
cellChooser.hoc
cellLoop-1.py
cnic_001.CNG.swc
conf.py
constants.hoc
coordinategrid.p
coordinategrid2es.p
editMorphology.hoc
efield.np.npy
i686cygwin/
index.rst
init.hoc
interpCoordinates.hoc
kCSD-python/
lfpcalc.py
locations.np.npy
make.bat
manyElectrodes.py
manyElectrodes.pyc
mechanisms-aberra/
mod_func.c
mosinit.command
mosinit.ps1
myelinBiophysics.hoc
neuromorpho.py
neurons/
nrnmech.dll
plotE.py
pyKCSD/
readNeuroclidiaV3.py
results/
rig.ses
run.py
scikit-monaco/
setParams.hoc
setPointers.hoc
singlecellNEURON.py
stimWaveform.hoc
test.py
testSims.py
test_get_swc_by_neuron_index.py
test_lfp.sh
testemail.py
testemail.pyc
testneuron/
testsims2.py
tmdTests.py
tmdTests.pyc
todo
venv/
